<!-- <h2>Data Table</h2> -->
<div style="margin: 25px; position: relative;">
  <span>
    <h4>Data Table</h4>
    <p>For sorting, click on the fields(Column name).</p>
    <button style="margin: 10px; "  > Add </button> 
    <!-- (click) = "addInTable()" -->
    <!-- (click)="openFormTableComp()" -->
    <button style="margin: 10px; " (click) = "resetTable();" > Reset </button>
    
  </span>
</div>

<!-- <p>sibling1 component!</p>
<button (click)="clickMe()">Click Me</button> -->

<app-form-comp></app-form-comp>

<table id="myTable" class="table table-striped">
  <thead>
    <tr>
      <th (click)="sortTable(0)">Emp Id</th>
      <th (click)="sortTable(1)">First Name</th>
      <th (click)="sortTable(2)">Last Name</th>
      <th (click)="sortTable(3)">Age</th>
      <th (click)="sortTable(4)">City</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let el of elements">
    <td scope="row">{{ el.empId | number }}</td>
    <td> {{ el.firstName }}</td>
    <td>{{ el.lastName }}</td>
    <td>{{ el.age | number }}</td>
    <td>{{ el.city }}</td>
    <td style="text-align: center;">
      <button type="button" color="danger" rounded="true" size="sm" class="my-0" (click)="editRecord(el.empId)"> Update </button>
    </td>
    <td style="text-align: center;">
        <button type="button" color="danger" rounded="true" size="sm" class="my-0" (click)="deleteFromSession(el.empId)">
            Del
        </button>
    </td>
  </tr>
  </tbody>
</table>