<!-- <p>comp1 works!</p> -->
<!-- <form [formGroup]="profileForm">
    <div>
    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
    </div>
    <div>
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
    </div>
    <div>
    <label>
        Street:
        <input type="text" formControlName="street">
    </label>
    </div>
    <div>
    <label>
        City:
        <input type="text" formControlName="city">
    </label>
    </div>
</form>

<form [formGroup]="paymentForm">
    <div>
    <label>
      CC Number:
      <input type="text" formControlName="ccNumber">
    </label>
  
    <label>
      CVV:
      <input type="text" formControlName="cvv">
    </label>
    </div>
    <div>
    <label>
        Name:
        <input type="text" formControlName="name">
    </label>

    <label>
        Exp Date:
        <input type="text" formControlName="expDate">
    </label>  
    </div>
</form>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()"></form>
<form [formGroup]="paymentForm" (ngSubmit)="onSubmit()"></form>
<button type="submit" [disabled]="!profileForm.valid && !paymentForm.valid">Submit</button>
<p>
    FN: {{ firstName.value }}
    LN: {{ lastName.value }}
</p> -->