<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.css" />

<div class="container-fluid">
    <app-table-comp  [childData]="data"></app-table-comp>
</div>



<!-- <p (click) = "log('clicked now')">Header </p> -->

<!-- <app-table-comp></app-table-comp> -->

<!-- <app-table-comp [childData]="data"></app-table-comp> -->

<!-- <button >
  <app-form-comp onclick="true"></app-form-comp>
</button> -->

<!-- <button (click)="openConfirmationDialog()" type="button" class="btn btn-primary"><app-form-comp></app-form-comp></button> -->



<!-- <button (click) = "toggleHL()" > Toggle </button> -->
<!-- <app-dashboard [num] = '10' (new1)="log($event)"></app-dashboard> -->


<!-- <app-comp1 *ngIf="showDB"></app-comp1> -->
<!-- <app-comp2></app-comp2> -->

<!-- <input value = "test"> -->
<!-- <input [value] = "title"> -->

<!-- <div *ngFor = "let elem of arr" [ngClass]="{'highlight': isHL}">
  <app-dashboard [elm] = elem.json().results></app-dashboard>

  
  <p>{{elem.id}} </p> 
  <p>{{elem.title}}</p>
  <app-dashboard (click) = "toggleHL" [ngClass]="{'highlight': isHL}"></app-dashboard>
</div> -->

<!-- <div *ngFor = "let elem of data">
  <div (click)="saveInSession(elem)">
    {{elem.empId}}
  </div>
  {{elem |json}}

</div> -->
<!-- <input type = "text" [(ngModel)] = "title"> -->

<!-- <p>Footer</p> -->