
<!-- <p>sibling2 component</p>
<h2>{{count}}</h2> -->

<!-- <button class="open-button" (click)="openForm()">Open Form</button> -->

<div class="form-popup" id="myForm" [formGroup]="profileForm">
    <form action="/action_page.php" class="form-container">
        <h3>Add Data</h3>

            <p style="color: red;">* <span class="text-success" style="color: black;">Emp Id:
            <input type="text" formControlName="empId" required>
            </span>[Max. 2 numbers]</p>
        <!-- <div >
            <label> -->
                <p style="color: red;">* <span class="text-success" style="color: black;">First Name:
                    <input type="text" formControlName="firstName" required>
                </span>[Max. 20 characters]</p>
            <!-- </label>
        </div>
        <div>
        <label> -->
            <p style="color: red;">* <span class="text-success" style="color: black;">Last Name:
                <input type="text" formControlName="lastName" required>
            </span>[Max. 20 characters]</p>
        <!-- </label>
        </div>
        <div style="margin: 10px;"> -->
        <div>
            Age:
            <input type="text" formControlName="age">
        </div>
        <!-- </div>
        <div style="margin: 10px;"> -->
        <div style="margin: 10px;">
            City:
            <input type="text" formControlName="city">
        </div>
        <!-- </div> -->
  
        <button style="margin: 10px;" type="submit" (click) = "onSubmit()" [disabled]="!profileForm.valid">Submit</button>
        <button style="margin: 10px;" type="button">Close</button>
        <!-- (click)="closeFormComp()" -->
    </form>
    <app-table-comp [formGroup]="profileForm"></app-table-comp>
</div>