<!-- <h2>Data Table</h2> -->
<div style="margin: 25px; position: relative;">
  <span>
    <h4>Data Table</h4>
    <p>For sorting, click on the fields(Column name).</p>
    <button mat-raised-button (click)="openDialog();"> Add </button>
    <button (click) = "resetTable();" > Reset </button>
  </span>
</div>

<table id="myTable" class="table table-striped" style="width: 50%;">
  <thead >
    <tr>
      <th (click)="sortTable(0)" class="pointer">Emp Id</th>
      <th (click)="sortTable(1)" class="pointer">First Name</th>
      <th (click)="sortTable(2)" class="pointer">Last Name</th>
      <th (click)="sortTable(3)" class="pointer">Age</th>
      <th (click)="sortTable(4)" class="pointer">City</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let el of elements">
    <td scope="row">{{ el.empId | number }}</td>
    <td> {{ el.firstName }}</td>
    <td>{{ el.lastName }}</td>
    <td>{{ el.age | number }}</td>
    <td>{{ el.city }}</td>
    <td style="text-align: center;">
      <button type="button" color="danger" rounded="true" size="sm" class="my-0" (click)="editRecord(el)"> Update </button>
    </td>
    <td style="text-align: center;">
        <button type="button" color="danger" rounded="true" size="sm" class="my-0" (click)="deleteFromSession(el.empId)">
            Del
        </button>
    </td>
  </tr>
  </tbody>
</table>