    
    .container{
      display:flex;
      width: 73%;
      justify-content: center;
      margin: 30px auto;
    }
    
    .container input
    {
          width:100%;
          margin: 0px 10px 0px 0px;
    }