

.item{
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 180px;
      padding-left: 20px;
      padding-right: 20px;
    }
    
    .container{
      display:block;
      width: 90%;
      margin: auto;
    }
    
    .img{
      max-width: 100%;
      height: 100px;
    }